<!DOCTYPE html>
<html>
<title>user crime</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../css/metisMenu.min.css" rel="stylesheet">

<!-- Timeline CSS -->
<link href="../css/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../css/startmin.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="../css/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<style>

    body {
        background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);
        color: #444;
        font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
        text-shadow: 0 1px 0 #fff;
    }

    .user-header {
        margin-top: 10%;
    }

    strong {
        font-weight: bold;
    }


    table {
        background: #f5f5f5;
        border-collapse: separate;
        box-shadow: inset 0 1px 0 #fff;
        font-size: 15px;
        line-height: 39px;
        margin: 30px auto;
        text-align: left;
        width: 965px;
    }

    th {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
        text-shadow: 0 1px 0 #000;
    }

    th:after {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
        content: '';
        display: block;
        height: 25%;
        left: 0;
        margin: 1px 0 0 0;
        position: absolute;
        top: 25%;
        width: 965px;
    }

    th:first-child {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
    }

    th:last-child {
        box-shadow: inset -1px 1px 0 #999;
    }

    td {
        border-right: 1px solid #fff;
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e8e8e8;
        /*padding: 10px 15px;*/
        position: relative;
        transition: all 300ms;
    }

    td:first-child {
        box-shadow: inset 1px 0 0 #fff;
    }

    td:last-child {
        border-right: 1px solid #e8e8e8;
        box-shadow: inset -1px 0 0 #fff;
    }

    tr {
        background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
    }

    tr:nth-child(odd) td {
        background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
    }

    tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
    }

    tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
    }

    tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
    }

    tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }

</style>
<script>
    function clicked()
    {
         alert("Succefully Registerd");
    }
</script>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;font-size: large;width:254px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
        <h4><b>Crime alert</b></h4>
    </div>
    <div class="w3-bar-block">
        <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">Home</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Profile Details</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Emergency Contact</a>
           <a href="logout" class="w3-bar-item w3-button w3-padding">  <h4 style="color:darkred " id="logout"><b>Logout</b></h4> </a>


    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
        <div class="w3-container">

            <div class="w3-section w3-bottombar w3-padding-16"></div>
        </div>
    </header>
    <!-- Images of Me -->
    <div class="row" align="center">
        <div class="col-md-offset-1 col-lg-10 col-md-10 center" align="right">
            <div class="panel panel-default" align="center">
                <div class="panel-heading" align="center">
                    <i class="fa fa-bell fa-fw"></i> Alert Panel
                </div>
                <% if (userData.isRegister=='YES' ) {%>
                <div class="panel-body">
                    <div class="list-group">
                        <table>
                            <thead>
                            <tr>
                                <th>City</th>
                                <th>Category</th>
                                <th>Descript</th>
                                <th>CrimeDate</th>
                                <th>pdDistrict</th>
                                <th>Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < alertData.length; i++) { %>
                            <tr>
                                <td>
                                    <span><em><%= alertData[i].City %></em></span>
                                </td>
                                <td><span><em><%= alertData[i].Category %></em></span>
                                </td>
                                <td><span><em><%= alertData[i].Descript %></em></span>
                                </td>
                                <td><span><em><%= alertData[i].CrimeDate %></em></span>
                                </td>
                                <td><span><em><%= alertData[i].PdDistrict %></em></span>
                                </td>
                                <td><span><em><%= alertData[i].Address %></em></span>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <% } %>
                <% if (userData.isRegister=='No') {%>

                <form method="post" action="/getRegister"
                      style="font-size: initial";>
                    <input type="hidden" name="id" value="<%= userData.email %>">
                    <input type="hidden" name="contactnumber" value="<%= userData.contactNO %>">

                    <input type="hidden" name="userID" value="<%= userData.username %>">
                    Register to get alerts.
                    <br/>
                    <input type="checkbox" name='email1' value="email">Email
                    <input type="checkbox" name='sms' value="SMS">SMS
<br/>
                    <select class="city" name="city">
                        <option>City</option>
                        <option value="SFO">SFO</option>
                        <option value="LA">LA</option>
                    </select>


                    <br/><br/>
                    <button class="btn-lg btn-Primaey" id="checkBtn" style="width: 100px;"
                    onclick="clicked()"
                    ><b>Register</b></button>

                </form>
                <% } %>

            </div>
        </div>
    </div>

    <div class="w3-section w3-bottombar w3-padding-16"></div>
    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h4 id="about"><b>About Me</b></h4>
        <div class="row" align="center">
            <div class="col-md-offset-1 col-lg-10 col-md-10 center" align="right">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span><em><%= userData.Name %></em></span>
                        </td>
                        <td><span><em><%= userData.city %></em></span>
                        </td>
                        <td><span><em><%= userData.username %></em></span>
                        </td>
                        <td><span><em><%= userData.email %></em></span>
                        </td>
                        <td><span><em><%= userData.contactNO %></em></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>

        <!-- Contact Section -->
        <div class="w3-container w3-padding-large w3-grey">
            <h4 id="contact"><b>Emergency Contact - 911</b></h4>
        </div>


        <!-- End page content -->
    </div>
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>
